# MY BASIC PYTHON FILE

# CASE SENSITIVE

In [1]:
India = 8

In [2]:
india = 20

In [3]:
India

8

In [4]:
india

20

In [8]:
5 + 5

10

In [ ]:
DATA TYPES

INTEGER
FLOAT
STRING

In [13]:
a = 5

In [14]:
type(a)

int

In [15]:
a1 = 10

In [17]:
a1

10

In [18]:
b = 20.5

In [19]:
type(b)

float

In [20]:
c = '20.8'

In [21]:
type(c)

str

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('Iris.csv')
# df = pd.read_sql('Sales.sql')

In [45]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [31]:
m1 = '100'

In [32]:
type('m1')

str

In [33]:
m2 = int(m1)

In [34]:
m2

100

In [35]:
type(m2)

int

In [36]:
z1 = 100

In [38]:
z2 = float(z1)

In [39]:
type(z2)

float

In [40]:
z2 = int(z1)

In [41]:
z2

100

LIST

In [48]:
List1 = ['apple','orange','cherry','grapes','pineapple']

#          0        1         2       3         5-1

In [49]:
List1[1]

'orange'

In [50]:
List1[2]

'cherry'

In [51]:
List1[1] = 'Green Orange'

In [52]:
List1

['apple', 'Green Orange', 'cherry', 'grapes', 'pineapple']

In [54]:
c[2]='red cherry'

In [56]:
List1[2]='red chill'

TUPLE

In [58]:
thetuple = ('apple', 'Green Orange', 'cherry', 'grapes', 'pineapple')

In [59]:
thetuple

('apple', 'Green Orange', 'cherry', 'grapes', 'pineapple')

In [60]:
thetuple[1]

'Green Orange'

In [61]:
thetuple[1] = 'Orange'

TypeError: 'tuple' object does not support item assignment

In [63]:
modifieddata = tuple(List1)

In [64]:
modifieddata

('apple', 'Green Orange', 'red chill', 'grapes', 'pineapple')

In [65]:
df = pd.read_csv('Iris.csv')

In [66]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
9,10,4.9,3.1,1.5,0.1,Iris-setosa
10,11,5.4,3.7,1.5,0.2,Iris-setosa
11,12,4.8,3.4,1.6,0.2,Iris-setosa
12,13,4.8,3.0,1.4,0.1,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa
16,17,5.4,3.9,1.3,0.4,Iris-setosa
17,18,5.1,3.5,1.4,0.3,Iris-setosa
18,19,5.7,3.8,1.7,0.3,Iris-setosa
19,20,5.1,3.8,1.5,0.3,Iris-setosa
20,21,5.4,3.4,1.7,0.2,Iris-setosa
21,22,5.1,3.7,1.5,0.4,Iris-setosa
22,23,4.6,3.6,1.0,0.2,Iris-setosa
23,24,5.1,3.3,1.7,0.5,Iris-setosa
24,25,4.8,3.4,1.9,0.2,Iris-setosa
25,26,5.0,3.0,1.6,0.2,Iris-setosa
26,27,5.0,3.4,1.6,0.4,Iris-setosa
27,28,5.2,3.5,1.5,0.2,Iris-setosa
28,29,5.2,3.4,1.4,0.2,Iris-setosa
29,30,4.7,3.2,1.6,0.2,Iris-setosa
...,...,...,...,...,...,...
120,121,6.9,3.2,5.7,2.3,Iris-virginica
121,122,5.6,2.8,4.9,2.0,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
123,124,6.3,2.7,4.9,1.8,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
125,126,7.2,3.2,6.0,1.8,Iris-virginica
126,127,6.2,2.8,4.8,1.8,Iris-virginica
127,128,6.1,3.0,4.9,1.8,Iris-virginica
128,129,6.4,2.8,5.6,2.1,Iris-virginica
129,130,7.2,3.0,5.8,1.6,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
137,138,6.4,3.1,5.5,1.8,Iris-virginica
138,139,6.0,3.0,4.8,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

ARITHMETIC OPERATORS

In [67]:
2 + 5

7

In [68]:
5 - 2

3

In [69]:
10 * 100

1000

In [70]:
100 / 10

10.0

In [71]:
a > 10

False

In [74]:
b=100
b > 10

True

<
>
<=
>=
!=

In [75]:
a = 100

In [76]:
b = 200

In [77]:
if a>b:
    print('a is greater')
else:
    print('b is greater')

b is greater

In [84]:
a = 100
b = 200
c = 300

In [85]:


# uncomment following lines to take three numbers from user
#num1 = float(input("Enter first number: "))
#num2 = float(input("Enter second number: "))
#num3 = float(input("Enter third number: "))

if (a >= b) and (a >= c):
   largest = a
elif (b >= a) and (b >= c):
   largest = b
else:
   largest = c

print("The largest number is", largest)

The largest number is 300