In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("insurance_data.csv")

In [3]:
df.columns

Index(['age', 'bought_insurance'], dtype='object')

In [4]:
x = df[['age']]

In [5]:
y = df[['bought_insurance']]

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.9)

In [8]:
x_train.shape

(24, 1)

In [9]:
y_train.head(3)

    bought_insurance
5                  1
8                  1
17                 1

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
logrm = LogisticRegression()

In [13]:
logrm.fit(x_train,y_train)

C:\python\INSTALL\ANACONDA\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [14]:
x_test

    age
21   26
10   18
6    55

In [15]:
logrm.predict(x_test)

array([0, 0, 1], dtype=int64)

In [16]:
logrm.predict([[55]])

array([1], dtype=int64)

In [17]:
logrm.predict_proba([[55]])

array([[0.04037434, 0.95962566]])

# In the above the value .95 is bigger which is 1 in ( 0 ,1 ) format in the confusion matrix. So the person with age 55 will BUY insurance