In [1]:
import pandas as pd

In [49]:
df = pd.read_csv('homeprices.csv')

In [63]:
df.head()

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [58]:
X = df[['area']]
y = df[['price']]

In [64]:
from sklearn.model_selection import train_test_split

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5)

In [95]:
X_train

   area
1  3000
2  3200
0  2600

In [93]:
y_train

    price
4  725000
2  610000
1  565000
3  680000

In [90]:
X_test

   area
1  3000

In [ ]:
from sklearn.linear_model import LinearRegression

In [13]:
lrm = LinearRegression()

In [70]:
lrm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [71]:
lrm.coef_

array([[135.34482759]])

In [72]:
lrm.intercept_

array([183362.06896552])

In [73]:
lrm.predict(X_test)

array([[616465.51724138]])

In [75]:
X_test

   area
2  3200

In [74]:
y_test

    price
2  610000

In [55]:
lrm.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [56]:
lrm.coef_

array([[135.78767123]])

In [57]:
lrm.intercept_

array([180616.43835616])