In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Cancer.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   I0        1372 non-null   float64
 1   PA500     1372 non-null   float64
 2   HFS       1372 non-null   float64
 3   DA        1372 non-null   float64
 4   Area      1372 non-null   float64
 5   A/DA      106 non-null    float64
 6   Max IP    106 non-null    float64
 7   DR        106 non-null    float64
 8   P         106 non-null    float64
 9   Class     106 non-null    object
 10  Max IP.1  106 non-null    float64
 11  I0.1      1372 non-null   float64
 12  DA.1      1372 non-null   float64
 13  PA500.1   1372 non-null   float64
dtypes: float64(13), object(1)
memory usage: 150.2+ KB

In [4]:
df = df.dropna()

In [5]:
df

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P,Class,Max IP.1,I0.1,DA.1,PA500.1
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334,car,60.204880,524.794072,228.800228,0.187448
1,330.000000,0.226893,0.265290,121.154201,3163.239472,26.109202,69.717361,99.084964,400.225776,car,69.717361,330.000000,121.154201,0.226893
2,551.879287,0.232478,0.063530,264.804935,11888.391830,44.894903,77.793297,253.785300,656.769449,car,77.793297,551.879287,264.804935,0.232478
3,380.000000,0.240855,0.286234,137.640111,5402.171180,39.248524,88.758446,105.198568,493.701813,car,88.758446,380.000000,137.640111,0.240855
4,362.831266,0.200713,0.244346,124.912559,3290.462446,26.342127,69.389389,103.866552,424.796503,car,69.389389,362.831266,124.912559,0.200713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2000.000000,0.106989,0.105418,520.222649,40087.920980,77.059161,204.090347,478.517223,2088.648870,adi,204.090347,2000.000000,520.222649,0.106989
102,2600.000000,0.200538,0.208043,1063.441427,174480.476200,164.071543,418.687286,977.552367,2664.583623,adi,418.687286,2600.000000,1063.441427,0.200538
103,1600.000000,0.071908,-0.066323,436.943603,12655.342130,28.963331,103.732704,432.129749,1475.371534,adi,103.732704,1600.000000,436.943603,0.071908
104,2300.000000,0.045029,0.136834,185.446044,5086.292497,27.427344,178.691742,49.593290,2480.592151,adi,178.691742,2300.000000,185.446044,0.045029
105,2600.000000,0.069988,0.048869,745.474369,39845.773700,53.450226,154.122604,729.368395,2545.419744,adi,154.122604,2600.000000,745.474369,0.069988

In [6]:
print(df.shape)

num_of_classes = len(df.Class.unique())
print(num_of_classes)

df.describe()

(106, 14)
6

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P,Max IP.1,I0.1,DA.1,PA500.1
count,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000,106.000000
mean,784.251618,0.120133,0.114691,190.568642,7335.155161,23.473784,75.381258,166.710575,810.638127,75.381258,784.251618,190.568642,0.120133
std,753.950075,0.068596,0.101347,190.801448,18580.314212,23.354672,81.345838,181.309580,763.019135,81.345838,753.950075,190.801448,0.068596
min,103.000000,0.012392,-0.066323,19.647670,70.426239,1.595742,7.968783,-9.257696,124.978561,7.968783,103.000000,19.647670,0.012392
25%,250.000000,0.067413,0.043982,53.845470,409.647141,8.180321,26.893773,41.781258,270.215238,26.893773,250.000000,53.845470,0.067413
50%,384.936489,0.105418,0.086568,120.777303,2219.581163,16.133657,44.216040,97.832557,454.108153,44.216040,384.936489,120.777303,0.105418
75%,1487.989626,0.169602,0.166504,255.334809,7615.204968,30.953294,83.671755,232.990070,1301.559438,83.671755,1487.989626,255.334809,0.169602
max,2800.000000,0.358316,0.467748,1063.441427,174480.476200,164.071543,436.099640,977.552367,2896.582483,436.099640,2800.000000,1063.441427,0.358316

In [7]:
df.shape

(106, 14)

In [8]:
# split train input and output data
X = df.drop(axis=0, columns=['Class'])
Y = df.Class

#Print the shape of X and Y
print(X.shape)
print(Y.shape)

(106, 13)
(106,)

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106 entries, 0 to 105
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   I0        106 non-null    float64
 1   PA500     106 non-null    float64
 2   HFS       106 non-null    float64
 3   DA        106 non-null    float64
 4   Area      106 non-null    float64
 5   A/DA      106 non-null    float64
 6   Max IP    106 non-null    float64
 7   DR        106 non-null    float64
 8   P         106 non-null    float64
 9   Max IP.1  106 non-null    float64
 10  I0.1      106 non-null    float64
 11  DA.1      106 non-null    float64
 12  PA500.1   106 non-null    float64
dtypes: float64(13)
memory usage: 11.6 KB

In [10]:
Y.unique()

array(['car', 'fad', 'mas', 'gla', 'con', 'adi'], dtype=object)

In [11]:
from sklearn.model_selection import train_test_split

# Split into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.10, random_state=42)

In [12]:
X_train

,I0,PA500,HFS,DA,Area,A/DA,Max IP,DR,P,Max IP.1,I0.1,DA.1,PA500.1
42,481.467149,0.078540,0.016057,79.059162,1154.338239,14.600942,33.929131,71.408439,501.893358,33.929131,481.467149,79.059162,0.078540
0,524.794072,0.187448,0.032114,228.800228,6843.598481,29.910803,60.204880,220.737212,556.828334,60.204880,524.794072,228.800228,0.187448
78,1461.750342,0.040841,0.049567,391.846023,5574.002820,14.224982,57.231480,387.643991,1428.839976,57.231480,1461.750342,391.846023,0.040841
18,325.000000,0.224624,0.286932,229.215863,5705.332090,24.890651,35.602715,227.264794,462.703007,35.602715,325.000000,229.215863,0.224624
64,391.000000,0.058119,0.011170,35.780061,265.149790,7.410546,22.131472,28.114244,400.994818,22.131472,391.000000,35.780061,0.058119
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,1385.664721,0.092328,0.089361,202.480044,8785.028733,43.387134,143.092194,143.257780,1524.609204,143.092194,1385.664721,202.480044,0.092328
14,485.668805,0.230209,0.134041,253.893699,8135.968359,32.044783,64.855446,245.470531,541.363975,64.855446,485.668805,253.893699,0.230209
92,1800.000000,0.091979,0.205251,362.863321,15021.553890,41.397278,217.833969,290.203640,1893.663712,217.833969,1800.000000,362.863321,0.091979
51,274.993396,0.147131,0.137532,66.457943,1217.415651,18.318588,40.849678,52.421008,327.558639,40.849678,274.993396,66.457943,0.147131
102,2600.000000,0.200538,0.208043,1063.441427,174480.476200,164.071543,418.687286,977.552367,2664.583623,418.687286,2600.000000,1063.441427,0.200538

In [13]:
y_train

42     mas
0      car
78     con
18     car
64     gla
      ...
71     con
14     car
92     adi
51     mas
102    adi
Name: Class, Length: 95, dtype: object

In [28]:
from xgboost import XGBClassifier

# Create a classifier
#xgb = XGBClassifier(booster='gbtree', objective='multi:softprob', random_state=42, eval_metric="auc", num_class=num_of_classes)
xgb = XGBClassifier(random_state=42,max_depth=10,n_estimators=200)
# Fit the classifier with the training data
xgb.fit(X_train,y_train)
val = xgb.predict(X_test)

In [27]:
xgb

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=10,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=42, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

xgb = XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='multi:softprob', random_state=42, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [15]:
y_test

100    adi
10     car
4      car
81     con
97     adi
65     gla
30     fad
33     fad
93     adi
11     car
47     mas
Name: Class, dtype: object

In [ ]:
The multi:softprob objective parameter essentially gives us a fuzzy clustering in 
    which each observation is given a distinct probability of belonging to each class. 
    In order to use these probabilities for classification, 
    we will have to determine the max probability for each observation and assign a class

In [ ]:
“auc” to measure the model performance

In [29]:
from sklearn.metrics import roc_auc_score
from sklearn import preprocessing

# Use trained model to predict output of test dataset
val = xgb.predict(X_test)

lb = preprocessing.LabelBinarizer()
lb.fit(y_test)

y_test_lb = lb.transform(y_test)
val_lb = lb.transform(val)

roc_auc_score(y_test_lb, val_lb, average='macro')

0.7157407407407407

In [79]:
y_test_lb
#'car', 'fad', 'mas', 'gla', 'con', 'adi'

array([[1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1]])

In [17]:
val_lb

array([[1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1]])

In [75]:
lb

LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)

In [70]:
output = pd.DataFrame()
output['Y TEST'] = y_test
output['Predicted Output'] = y_pred
output.head()

    Y TEST Predicted Output
100    adi              adi
10     car              car
4      car              car
81     con              con
97     adi              adi

In [30]:
from sklearn.metrics import roc_auc_score
from sklearn import preprocessing

# Use trained model to predict output of test dataset
val = xgb.predict(X_test)

lb = preprocessing.LabelBinarizer()
lb.fit(y_test)

y_test_lb = lb.transform(y_test)
val_lb = lb.transform(val)

roc_auc_score(y_test_lb, val_lb, average='macro')

0.7157407407407407